<!DOCTYPE html>
<html>
<head>
  <title>HTTP Logger</title>
  <%= stylesheet_link_tag    "http_log" %>
  <%= javascript_include_tag "http_log" %>
</head>
<body id="http-log" style="padding-top: 60px">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <h3 class="brand">HTTP Log</h3>
        <ul class="nav">
          <li><%= link_to "Summary", "#summary"  %></li>
          <li><%= link_to "Content-Type", "#content-type"  %></li>
          <li><%= link_to "Accepts", "#accepts"  %></li>
          <li><%= link_to "Paramters", "#parameters"  %></li>
          <li><%= link_to "Headers", "#headers"  %></li>
          <li><%= link_to "Raw Post", "#raw-post"  %></li>
          <li><%= link_to "Cookies ", "#cookies"  %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
